<ion-view view-title="About">
    <ion-content scroll="false" style="background-image: url('img/Blue polygonal background.jpg');background-size: cover;">

 <div ng-controller="AboutCtrl">

<ion-slide-box show-pager="false" does-continue="true" style="height:100%">

   <ion-slide>
      <div class="box box1">

           <center>
            <img src="img/logo-256.png" style="margin-top:75px;">
          </center>

          <div class="card" style="border-radius:5px;background-color:#E1F5FE;">
            <div class="item item-text-wrap">
              <h2 class="text-center"><b>SensePoint 2017 © </b></h2>
              <hr>
              <h2 class="text-center"><b>"Sense and Protect"</b></h2>
              <h3 class="text-center">Sensepoint is an IoT Gas Concentration Monitoring and Leakage Detector device that measures various gases concentration in a given proximity and displays the result via a user-friendly interface.</h3>
            </div>
          </div>

      </div>
   </ion-slide>

   <ion-slide>
   <div class="box box1">

        <center>
         <img src="img/code.svg" style="margin-top:75px;height:256px;width:256px;">
       </center>

       <div class="card" style="border-radius:5px;background-color:#E1F5FE;">
         <div class="item item-text-wrap">
           <h2 class="text-center"><b>Developers</b></h2>
           <hr>     
       </div>
      </div>
   </ion-slide>

</ion-slide-box>

</div>

    </ion-content>
</ion-view>
