<ion-view view-title="Codex">
    <ion-content style="background-image: url('img/Blue polygonal background.jpg');background-size: cover;">

<div class="list list-inset" id="searchbox" style="border-radius:5px;">
  <label class="item item-input">
    <i class="icon ion-search placeholder-icon"></i>
    <input type="text" placeholder="Search..">
  </label>
</div>

<div class="list card list-inset" id="codexlist">

  <a href="#" class="item item-avatar" style="background-image: url('img/menu-blur.jpg');background-size: cover;">
	<img src="img/lpg.jpg">
    <h3>LPG</h3>
  </a>

  <a href="#" class="item item-avatar" style="background-image: url('img/menu-blur.jpg');background-size: cover;">
	<img src="img/logo.png">
    <h3>Butane</h3>
  </a>

  <a href="#" class="item item-avatar" style="background-image: url('img/menu-blur.jpg');background-size: cover;">
	<img src="img/c3h8.png">
    <h3>Propane</h3>
  </a>

  <a href="#" class="item item-avatar" style="background-image: url('img/menu-blur.jpg');background-size: cover;">
	<img src="img/ch4.png">
    <h3>Methane</h3>
  </a>

</div>


    </ion-content>
</ion-view>
