<ion-view view-title="Codex">
    <ion-content style="background-image: url('img/Blue polygonal background.jpg');background-size: cover;">

<div class="list card list-inset" style="background-image: url('img/menu-blur.jpg');background-size: cover;">
  <div class="item item-text-wrap" style="text-align:center;border-radius:5px;">
    <h2 style="font-weight:600;">Gases Recognizable by the MQ2 Gas Sensor</h2>
  </div>
</div>

<div class="list card list-inset" id="codexlist">

  <a href="#/app/lpg" class="item item-avatar" style="background-image: url('img/menu-blur.jpg');background-size: cover;">
	<img src="img/lpg.jpg">
    <h3>LPG</h3>
  </a>

  <a href="#/app/methane" class="item item-avatar" style="background-image: url('img/menu-blur.jpg');background-size: cover;">
	<img src="img/logo.png">
    <h3>Methane</h3>
  </a>

  <a href="#/app/hydrogen" class="item item-avatar" style="background-image: url('img/menu-blur.jpg');background-size: cover;">
	<img src="img/c3h8.png">
    <h3>Hydrogen</h3>
  </a>

  <a href="#/app/carbon" class="item item-avatar" style="background-image: url('img/menu-blur.jpg');background-size: cover;">
	<img src="img/ch4.png">
    <h3>Carbon Monoxide</h3>
  </a>

</div>


    </ion-content>
</ion-view>
