<ion-view view-title="Logs">
  <ion-nav-buttons side="right">
      <button class="button button-icon button-clear ion-trash-a" id="clear" ng-click=""></button>
  </ion-nav-buttons>

    <ion-content style="background-image: url('img/Blue polygonal background.jpg');background-size: cover;">

    <div class="spacer" style="width: 268px; height: 25px;"></div>

    <div class="card" id="cardlog" style="background-image: url('img/menu-blur.jpg');background-size: cover;">
      <div class="item item-text-wrap item-thumbnail-left">
      <img src="img/ionic.png">
        <h3 style="padding:5px;"><strong>Gas Leak Detected!</strong></h3>
        <hr>
        <h4 style="padding:5px;">Tuesday, May 16, 10:00 AM</h4>
      </div>
    <div class="row" style="margin-top:-20px;">
       <div class="col text-center">
          <button class="button button-small button-positive button icon icon-right ion-information-circled">More Info</button>
       </div>
    </div>
    </div>

    <div class="card" id="cardlog" style="background-image: url('img/menu-blur.jpg');background-size: cover;">
      <div class="item item-text-wrap item-thumbnail-left">
      <img src="img/ionic.png">
        <h3 style="padding:5px;"><strong>Gas Leak Detected!</strong></h3>
        <hr>
        <h4 style="padding:5px;">Tuesday, May 16, 10:00 AM</h4>
      </div>
    <div class="row" style="margin-top:-20px;">
       <div class="col text-center">
          <button class="button button-small button-positive button icon icon-right ion-information-circled">More Info</button>
       </div>
    </div>
    </div>

    <div class="card" id="cardlog" style="background-image: url('img/menu-blur.jpg');background-size: cover;">
      <div class="item item-text-wrap item-thumbnail-left">
      <img src="img/ionic.png">
        <h3 style="padding:5px;"><strong>Gas Leak Detected!</strong></h3>
        <hr>
        <h4 style="padding:5px;">Tuesday, May 16, 10:00 AM</h4>
      </div>
    <div class="row" style="margin-top:-20px;">
       <div class="col text-center">
          <button class="button button-small button-positive button icon icon-right ion-information-circled">More Info</button>
       </div>
    </div>
    </div>


    </ion-content>
</ion-view>
