<ion-view title="LPG" id="lpg">
  <ion-content padding="true" style="background-image: url('img/Blue polygonal background.jpg');background-size: cover;" class=" manual-remove-top-padding has-header">

  <div class="card" style="box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);background-color:#E1F5FE;">

    <div class="item item-text-wrap">
      <h2 style="font-size:larger;text-align:center;"><b>Liquefied Petroleum Gas</b></h2>
      <hr>
      <h3>
        Liquefied petroleum gas or liquid petroleum gas (LPG or LP gas), also referred to as simply propane or butane, are flammable mixtures of hydrocarbon gases used as fuel in heating appliances, cooking equipment, and vehicles.
      </h3>
      <br>
      <h2 style="font-size:larger;text-align:center;"><b>Environmental Effects</b></h2>
      <hr>
      <h3>
        Commercially available LPG is currently derived mainly from fossil fuels. Burning LPG releases carbon dioxide, a greenhouse gas. The reaction also produces some carbon monoxide. LPG does, however, release less CO
        2 per unit of energy than does coal or oil. It emits 81% of the CO
        2 per kWh produced by oil, 70% of that of coal, and less than 50% of that emitted by coal-generated electricity distributed via the grid. Being a mix of propane and butane, LPG emits less carbon per joule than butane but more carbon per joule than propane.
      </h3>
      <br>
      <h2 style="font-size:larger;text-align:center;"><b>Fire/Explosion Risk and Mitigation</b></h2>
      <hr>
      <h3>
        LPG containers have pressure relief valves, such that when subjected to exterior heating sources, they will vent LPGs to the atmosphere or a flare stack.

        If a tank is subjected to a fire of sufficient duration and intensity, it can undergo a boiling liquid expanding vapor explosion (BLEVE). This is typically a concern for large refineries and petrochemical plants that maintain very large containers. In general, tanks are designed that the product will vent faster than pressure can build to dangerous levels.
        <br><br>
        People can be exposed to LPG in the workplace by breathing it in, skin contact, and eye contact. The Occupational Safety and Health Administration (OSHA) has set the legal limit (Permissible exposure limit) for LPG exposure in the workplace as 1000 ppm (1800 mg/m3) over an 8-hour workday. The National Institute for Occupational Safety and Health (NIOSH) has set a recommended exposure limit (REL) of 1000 ppm (1800 mg/m3) over an 8-hour workday. At levels of 2000 ppm, 10% of the lower explosive limit, LPG is considered immediately dangerous to life and health (due solely to safety considerations pertaining to risk of explosion).
      </h3>
      <br>
      <h2 style="font-size:larger;text-align:center;"><b>Fast Facts</b></h2>
      <hr>
      <h3 style="text-align:center;">
        1. Colourless, heavier than air and odourless until odorant is added for safety reasons.
      </h3><br>
      <h3 style="text-align:center;">
        2. LPG’s volume is 274 times smaller when in a liquid state.
      </h3><br>
      <h3 style="text-align:center;">
        3. An LP Gas stove can be 8 times more efficient than a charcoal stove commonly found in urban households in many parts of the world.
      </h3><br>
      <h3 style="text-align:center;">
        4. Colourless, heavier than air and odourless until odorant is added for safety reasons.
      </h3><br>
      <h3 style="text-align:center;">
        5. Autogas yields 50% less carbon monoxide (CM), 40% less hydrocarbons (HC), 35% less nitrogen oxides (NOx) and 50% less ozone forming potential compared to gasoline.
      </h3>
    </div>
  </div>


  </ion-content>
</ion-view>
