<ion-view title="Methane" id="methane">
  <ion-content padding="true" style="background-image: url('img/Blue polygonal background.jpg');background-size: cover;" class=" manual-remove-top-padding has-header">

  <div class="card" style="box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);background-color:#E1F5FE;">

    <div class="item item-text-wrap">
     <h2 style="font-size:larger;text-align:center;"><b>Methane</b></h2>
     <hr>
     <h3>
       Methane is a chemical compound with the chemical formula CH4. It is a group 14 hydride and the simplest alkane, and is the main constituent of natural gas. The relative abundance of methane on Earth makes it an attractive fuel, though capturing and storing it poses challenges due to its gaseous state under normal conditions for temperature and pressure.
     </h3>
     <br>
     <h2 style="font-size:larger;text-align:center;"><b>Safety</b></h2>
     <hr>
     <h3>
       Methane is nontoxic, yet it is extremely flammable and may form explosive mixtures with air. Methane is violently reactive with oxidizers, halogen, and some halogen-containing compounds. Methane is also an asphyxiant and may displace oxygen in an enclosed space. Asphyxia may result if the oxygen concentration is reduced to below about 16% by displacement, as most people can tolerate a reduction from 21% to 16% without ill effects. The concentration of methane at which asphyxiation risk becomes significant is much higher than the 5–15% concentration in a flammable or explosive mixture. Methane off-gas can penetrate the interiors of buildings near landfills and expose occupants to significant levels of methane. Some buildings have specially engineered recovery systems below their basements to actively capture this gas and vent it away from the building.
     </h3>
     <br>
     <h2 style="font-size:larger;text-align:center;"><b>Fast Facts</b></h2>
     <hr>
     <h3 style="text-align:center;">
       1. Methane is responsible for up to 25% of the warming we are currently experiencing.
     </h3><br>
     <h3 style="text-align:center;">
       2. Methane traps 80 times as much heat over a 20-year period as carbon dioxide.
     </h3><br>
     <h3 style="text-align:center;">
       3. Industry wastes millions of tons of gas through leaks and flaring every year.
     </h3><br>
     <h3 style="text-align:center;">
       4. The technology to prevent methane and toxic air pollution is widely and easily available and affordable.
     </h3><br>
     <h3 style="text-align:center;">
       5. Addressing methane pollution is an important piece of the Obama administration’s plan to cut global warming pollution by 26-28% by 2025.
     </h3>
    </div>

  </div>

  </ion-content>
</ion-view>
